.mainLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;

  background-color: #0b1129;
  color: white;
}

.mainRow {
  display: grid;
  grid-template-rows: 20px calc(100vh-20px);
}

.rowContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rowHeader.income {
  color: #36bd9f;
}

.rowHeader.expenses {
  color: #e65b8e;
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
