.mainLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;

  background-color: #0b1129;
  color: white;
}

.headerRow {
  display: grid;
  grid-template-columns: 9fr 5fr 5fr 5fr 3fr;
  padding: 12px;
  font-size: x-large !important;
  text-align: center;
}

.dateContainer {
  margin: 0px 14px 0px 0px;
}

.mainRow {
  display: grid;
  grid-template-rows: 20% 80%;
  padding: 12px;
}

.rowContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rowObject {
  background-color: #142138;
}

.dataTable {
  margin: 0px 14px 0px 0px;
}

.incomeHeader {
  color: #36bd9f;
}

.expensesHeader {
  color: #e65b8e;
}

.savingsHeader {
  color: #f9bb03;
}

.total {
  margin-right: 14px;
  font-size: larger;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */