* {
  margin: 0;
  padding: 0;
}

.home-page {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;

  background-color: #0b1129;
  color: white;
}

.header-row {
  display: grid;
  grid-template-columns: 9fr 5fr 5fr 5fr 3fr;

  margin: 7px;

  font-size: x-large !important;
  text-align: center;
}

.expense-row {
  display: grid;
  grid-template-rows: 40px auto;
  margin: 0px 7px 7px 7px;
}

.category-summary-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0px 7px 7px 7px;
}

.expenses-header {
  margin: 7px;
  color: #e65b8e;
}

.expense-row-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.row-object {
  background-color: #142138;
  margin: 7px;
}

.savingsHeader {
  color: #f9bb03;
}

.scale-loader {
  display: block;
  margin: 0 auto;
  border: solid red;
}

/*

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

*/
